*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}

.container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}
.grid{
   border: 2px solid red;
   flex-basis: 6%;
   width: 100px;
   height: 100px;
}