*{
    box-sizing: border-box;
}

.container {
    border: 3px solid black;
    width: 500px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.row{
    height: 344px;
    width: 30.875px;
}

.grid{
    height: 21.5px;
    border: 1px black solid;
}

button{
    display: flex;
    justify-content: center;
}